// @import "settings";
$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

$nhs_blue: #0072ba;
$leeds_medium: #009888;
$leeds_light: #9ad2ce;


.max-size{
  width: 100%;
  height: 100%;
}

.gradient {
    // background: url('../images/clean_textile.png') repeat;
    background-size: 420px 420px;
    background: linear-gradient($leeds_medium, $leeds_light);
}

.twitter-typeahead {
    width: 100%;
    input {
        margin-bottom: 0;
    }
    .tt-dropdown-menu{
        background: white;
        z-index: 1000;
        width: 100%;
    }

    .tt-suggestion {
        background: #d7e0ed;
        padding: 10px;
        p {
            margin: 0;
        }
    }
    .tt-suggestion:nth-child(even){
        background: #eff2f8;
    }
}

.underline-link:hover{
    text-decoration: underline;
}


#main-content{
    margin-top: 20px;
}

.search {
    text-align: center;
    .button {
        margin-top: 20px;
    }
}

.search-results {
    li a {
        display: block;
        margin: 5px 0;
        padding: 10px;
        background-color: #eaf4fa;
    }
}
.label {
    margin: 5px 0;
    font-size: 6em;
}

.importantlink {
    margin: 5px 0;
    font-size: 10em;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    body{
        // background-image: url('../images/clean_textile_@2X.png');
    }
}
