<div class="row">
    <div class="small-12 medium-6 large-6 large-centered medium-centered columns">
        <nav class="breadcrumbs">
          <a href="#/">Home</a>
          <a class="current" href="#">About</a>
        </nav>
        <h3>What is ProCL?</h3>
        <p>ProCL is a tool designed to help clinicians when completing consent forms for medical and surgical procedures. 
        It acts as a reminder for the benefits, risks, and other details that are necessary when completing Consent Form 1 in UK NHS hospitals</p>

        <h3>Why make ProCL?</h3>
        <p>ProCL was created because there is currently no central location in which clinicians can find advice on completing consent forms.
        It aims to act as a reminder for trainees before they consent patients for procedures thereby improving the accuracy of the details on the consent form and ultimately allowing the patient to make an informed decision in providing their consent. </p>

        <h3>How does it work?</h3>
        <p>ProCL is simple to use. Start typing the name of a procedure into the search box on the main page. 
        You will get a drop-down of list of procedures that match your search.
        Select the procedure you want and you will be taken to a page listing advice for completing the consent form.</p>

        <h3>What is covered in ProCL?</h3>
        <p>ProCL has a database containing a lot of procedures - 3882 to be exact. It is based on the WHO's procedure list from ICD-9 Volume 3.
        For the procedures we aim to have all key details including: 
        ICD9 Code, ICD9 Name, Alternative Names, Explanation, Intended Benefits, Serious Risks, Frequent Risks, Extra Procedures, Other Info, References and Patient Info</p>

        <h3>What does ProCL NOT do?</h3>
        <p>ProCL does NOT act as a replacement for professional and educated clinical judgement.
        If you need advice or support when completing a consent form then ask a senior - not doing so would be acting against GMC guidance! 
        While we aim to ensure the accuracy of all data held here we cannot be held responsible for any adverse outcomes that occur as a result of using this service.</p>

        <h3>What we need!</h3>
        <p>We currently need qualified medical professionals (preferably consultants) that are willing to contribute consent form guidance for procedures they commonly perform and are familiar with. 
        If you are interested in helping improve patient safety please email: SharifBS@cardiff.ac.uk</p>

        <h3>Who made ProCL?</h3>
        <p>ProCL was a project created in 2 days at the London NHS Hackday in May 2014.
        It was pitched by Ben Sharif - a medical student at Cardiff University.</p>

        <p>This project won "Best in Show" thanks to the hard work of the team involved:
            <ul>
                <li>Anthony Fung   - Junior Doctor - <a href="http://www.twitter.com/fungster257">@fungster257</a></li>
                <li>Davide Ceretti - Developer     - <a href="http://www.twitter.com/davide_ceretti">@davide_ceretti</a></li>
                <li>Fred Kingham   - Developer     - <a href="http://www.twitter.com/fredkingham">@fredkingham</a></li>
                <li>Greg Lloyse    - Developer     - <a href="http://www.twitter.com/arachnegl">@arachnegl</a></li>
                <li>Lawrence Hunt  - Developer     - <a href="http://www.twitter.com/mindmelting">@mindmelting</a></li>
                <li>Sarah Hayman   - Developer     - <a href="http://www.twitter.com/sarah_j_hayman">@sarah_j_hayman</a></li>
            </ul>
        </p>


        <p>It is an open-source project - find the source on github: 
            <a href="https://github.com/nhshackday14/consent-management
">https://github.com/nhshackday14/consent-management</a>
        </p>
        <p>For more info about NHS Hackdays:
            <ul>
                <li>
                    <a href="http://www.twitter.com/NHSHackday">@NHSHackday</a>
                </li>
                <li>
                    <a href="http://nhshackday.com/">http://nhshackday.com/</a>
                </li>
            </ul>
        </p>
    </div>
</div>