<div class="row" ng-switch on="consentFormExists">
    <div class="small-12 medium-6 large-6 large-centered medium-centered columns">
      <h1 class="text-center"><img src="static/images/LCH-logo.png" alt="Leeds Children's Hospital"></h1>
        <nav class="breadcrumbs">
          <a href="#/">Back to the start</a>
          <a href="#">{{consentForm.name}}</a>
          <a class="current" href="#">At home</a>
        </nav>

        <div ng-switch-when="true">

            <a href=''><div class="label">Aftercare</div></a>
            <p class='content'>{{aftercare}}</p>
            <a href=''><div class="label">School</div></a>
            <p class='content'>{{school}}</p>
            <a href=''><div class="label">Physical Activity</div></a>
            <p class='content'>{{physicalactivity}}</p>
            <a href=''><div class="importantlink">Contact Details</div></a>
            <p class='content'>{{contactdetailspostop}}</p>

        </div>
        <div ng-switch-default>
            <div class="panel callout radius">
                There is no submitted consent form for this procedure.
            </div>
        </div>
    </div>
</div>
