<div class="row" ng-switch on="consentFormExists">
    <div class="small-12 medium-6 large-6 large-centered medium-centered columns">
      <h1 class="text-center"><img src="static/images/LCH-logo.png" alt="Leeds Children's Hospital"></h1>
        <nav class="breadcrumbs">
          <a href="#/">Back to the start</a>
          <a href="#">{{consentForm.name}}</a>
          <a class="current" href="#">At the hospital</a>
        </nav>

        <div ng-switch-when="true">

            <a href=''><div class="label">Anaesthetic</div></a>
            <p class='content'>{{anaesthetic}}</p>
            <a href=''><div class="label">Surgery</div></a>
            <p class='content'>{{surgery}}</p>
            <a href=''><div class="label">Recovery immediately after the operation</div></a>
            <p class='content'>{{recovery}}</p>
            <a href=''><div class="importantlink">Child resources</div></a>

        </div>
        <div ng-switch-default>
            <div class="panel callout radius">
                There is no submitted consent form for this procedure.
            </div>
        </div>
    </div>
</div>
