<div class="row" ng-switch on="consentFormExists">
    <div class="small-12 medium-6 large-6 large-centered medium-centered columns">
      <h1 class="text-center"><img src="static/images/LCH-logo.png" alt="Leeds Children's Hospital"></h1>
        <nav class="breadcrumbs">
          <a href="#/">Back to the start</a>
          <a href="#">{{consentForm.name}}</a>
          <a class="current" href="#">Child resources</a>
        </nav>

        <div ng-switch-when="true">

            <a href=''><div class="label">People I will meet</div></a>
            <p class='content'>{{peopletomeet}}</p>
            <a href=''><div class="label">Nurse</div></a>
            <p class='content'>{{nurse}}</p>
            <a href=''><div class="label">Places I will go</div></a>
            <p class='content'>{{placesforchild}}</p>

        </div>
        <div ng-switch-default>
            <div class="panel callout radius">
                There is no submitted consent form for this procedure.
            </div>
        </div>
    </div>
</div>
