<div class="row" ng-switch on="consentFormExists">
    <div class="small-12 medium-6 large-6 large-centered medium-centered columns">
      <h1 class="text-center"><img src="static/images/LCH-logo.png" alt="Leeds Children's Hospital"></h1>
        <nav class="breadcrumbs">
          <a href="#/">Back to the start</a>
          <a class="current" href="#">{{consentForm.name}}</a>
        </nav>
        <form class="search" ng-submit="submit()">
        <div class="label">Name of your procedure</div>
        <div class="panel radius">
            {{consentForm.name}}
        </div>
        <div class="label">Date of your procedure</div>

            <input type="text" placeholder="Enter Date..." ng-model="text" typeahead>

        <div class="label">Your appointment time</div>

            <input type="text" placeholder="Enter Time..." ng-model="text" typeahead>
        <div class="label">Your child's age</div>
            <input type="text" placeholder="Enter Age..." ng-model="text" typeahead>

            <input type="submit" value="Get your information" class="button radius expand">
        </form>
    </div>
</div>
