<div class="row" ng-switch on="consentFormExists">
    <div class="small-12 medium-6 large-6 large-centered medium-centered columns">
        <nav class="breadcrumbs">
          <a href="#/">Search</a>
          <a class="current" href="#">{{consentForm.name}}</a>
        </nav>
        <div class="label">Name</div>
        <div class="panel radius">
            {{consentForm.name}}
        </div>
        <div ng-switch-when="true">

            <div class="label">Alternative Names</div>
            <div class="panel radius">
                <span ng-repeat="name in consentForm.alternative_names">
                    {{name}}{{$last ? '' : ', '}}
                </span>
            </div>

            <div class="label">Explanation</div>
            <div class="panel radius">
                {{consentForm.consent_form.explanation}}
            </div>
            
            <div class="label">Intended Benefits</div>
            <div class="panel radius">
                {{consentForm.consent_form.intended_benefits}}
            </div>

            <div class="label">Serious Risks</div>
            <div class="panel radius">
                {{consentForm.consent_form.serious_risks}}
            </div>
            
            <div class="label">Frequent Risks</div>
            <div class="panel radius">
                {{consentForm.consent_form.frequent_risks}}
            </div>

            <div class="label">Extra Procedures That May Become Necessary</div>
            <div class="panel radius">
                <ul ng-show="consentForm.extra_procedures.length" class="side-nav">
                    <li ng-repeat="procedure in consentForm.extra_procedures">
                        <a ng-class="{selected: location.path() == '/consent-form/{{procedure.id}}'}" href="#/consent-form/{{procedure.id}}">
                            {{procedure.name}}
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="label">Other Info</div>
            <div class="panel radius">
                {{consentForm.consent_form.other_info}}
            </div>
            
            <div class="label">References</div>
            <div class="panel radius">
                {{consentForm.consent_form.references}}
            </div>
            
            <div class="label">Patient Info</div>
            <div class="panel radius">
                {{consentForm.consent_form.patiant_info}}
            </div>

        </div>
        <div ng-switch-default>
            <div class="panel callout radius">
                There is no submitted consent form for this procedure.
            </div>
        </div>
    </div>
</div>