<div class="row" ng-switch on="consentFormExists">
    <div class="small-12 medium-6 large-6 large-centered medium-centered columns">
      <h1 class="text-center"><img src="static/images/LCH-logo.png" alt="Leeds Children's Hospital"></h1>
        <nav class="breadcrumbs">
          <a href="#/">Back to the start</a>
          <a href="#">{{consentForm.name}}</a>
          <a class="current" href="#">Find us</a>
        </nav>

        <div ng-switch-when="true">

            <a href=''><div class="label">Map</div></a>
            <p class='content'>{{googlemapapi}}</p>

            <a href=''><div class="label">Car</div></a>
            <p class='content'>{{car}}</p>
            <a href=''><div class="label">Bus</div></a>
            <p class='content'>{{bus}}</p>
            <a href=''><div class="label">Train</div></a>
            <p class='content'>{{bus}}</p>
            <a href=''><div class="label">How to find the day surgery unit</div></a>
            <p class='content'>{{gettotheunit}}</p>
            <a href=''><div class="importantlink">Contact Details</div></a>
            <p class='content'>{{contactdetailspostop}}</p>

        </div>
        <div ng-switch-default>
            <div class="panel callout radius">
                There is no submitted consent form for this procedure.
            </div>
        </div>
    </div>
</div>
