<div class="row" ng-switch on="consentFormExists">
    <div class="small-12 medium-6 large-6 large-centered medium-centered columns">
      <h1 class="text-center"><img src="static/images/LCH-logo.png" alt="Leeds Children's Hospital"></h1>
        <nav class="breadcrumbs">
          <a href="#/">Back to the start</a>
          <a href="#">{{consentForm.name}}</a>
          <a class="current" href="#">Preparation</a>
        </nav>

        <div ng-switch-when="true">

            <a href=''><div class="label">Fasting</div></a>
            <p class='content'>{{fasting}}</p>
            <a href=''><div class="label">Things to bring to the hospital</div></a>
            <p class='content'>{{thingstobring}}</p>
            <a href=''><div class="label">What to do if your child is not well on the day</div></a>
            <p class='content'>{{childnotwell}}</p>

        </div>
        <div ng-switch-default>
            <div class="panel callout radius">
                There is no submitted consent form for this procedure.
            </div>
        </div>
    </div>
</div>
