<div class="max-size gradient">
  <div class="row">
    <div style="text-align: right" class="large-12">
    <img style="height: 60px" class="float-right" src="static/images/LTHT-Logo-White.png" alt="Leeds Teaching Hospitals NHS Trust"></h1>
    </div>
  </div>
  <div class="row">
      <div class="small-12 medium-6 large-6 large-centered medium-centered columns">
          <h1 class="text-center"><img src="static/images/Leeds-Childrens-Hospital-Logo-White-01.png" alt="Leeds Children's Hospital"></h1>
          <form class="search" ng-submit="submit()">
              <input type="text" placeholder="Search Procedure" ng-model="text" typeahead>
          </form>
      </div>
  </div>
</div>
