<div class="row">
    <div class="small-12 medium-6 large-6 large-centered medium-centered columns">
        <h1 class="text-center"><img src="static/images/LTHT-logo.png" alt="Leeds Teaching Hospitals NHS Trust"></h1>
        <h1 class="text-center"><img src="static/images/LCH-logo.png" alt="Leeds Children's Hospital"></h1>
        <p class="search">Select your operation below</p>

        <form class="search" ng-submit="submit()">
            <input type="text" placeholder="Search..." ng-model="text" typeahead>
            <input type="submit" value="Submit" class="button radius expand">
        </form>
    </div>
</div>
