
    <div class="small-12 medium-6 large-6 large-centered medium-centered columns">
      <h1 class="text-center"><img src="static/images/LCH-logo.png" alt="Leeds Children's Hospital"></h1>
        <nav class="breadcrumbs">
          <a href="#/">Back to the start</a>
          <a href="#">{{consentForm.name}}</a>
          <a class="current" href="#">Your Information</a>
        </nav>

        <div class="infocontainer">

            <a href=''><div class="label">Preparation</div></a>

              <a href=''><div class="label">Fasting</div></a>
              <p class='content'>{{fasting}}</p>
              <a href=''><div class="label">Things to bring to the hospital</div></a>
              <p class='content'>{{thingstobring}}</p>
              <a href=''><div class="label">What to do if your child is not well on the day</div></a>
              <p class='content'>{{childnotwell}}</p>

            <a href=''><div class="label">At the Hospital</div></a>

              <a href=''><div class="label">Anaesthetic</div></a>
              <p class='content'>{{anaesthetic}}</p>
              <a href=''><div class="label">Surgery</div></a>
                  <p class='content'>{{yourconsultant}}</p>
                  <p class='content'>{{nameofprocedure}}</p>
                  <p class='content'>{{alternativenames}}</p>
                  <p class='content'>{{anaesthesia}}</p>
                  <p class='content'>{{explanation}}</p>
                  <p class='content'>{{recovery}}</p>
                  <p class='content'>{{nameofprocedure}}</p>
                  <p class='content'>{{nameofprocedure}}</p>
                  <p class='content'>{{nameofprocedure}}</p>

              <a href=''><div class="label">Recovery immediately after the operation</div></a>
              <p class='content'>{{recovery}}</p>
              <a href=''><div class="importantlink">Child resources</div></a>

                  <a href=''><div class="label">People I will meet</div></a>
                  <p class='content'>{{peopletomeet}}</p>
                  <a href=''><div class="label">Nurse</div></a>
                  <p class='content'>{{nurse}}</p>
                  <a href=''><div class="label">Places I will go</div></a>
                  <p class='content'>{{placesforchild}}</p>

            <a href=''><div class="label">At Home</div></a>

              <a href=''><div class="label">Aftercare</div></a>
              <p class='content'>{{aftercare}}</p>
              <a href=''><div class="label">School</div></a>
              <p class='content'>{{school}}</p>
              <a href=''><div class="label">Physical Activity</div></a>
              <p class='content'>{{physicalactivity}}</p>
              <a href=''><div class="importantlink">Contact Details</div></a>
              <p class='content'>{{contactdetailspostop}}</p>

            <a href=''><div class="label">How to Find us</div></a>

              <a href=''><div class="label">Map</div></a>
              <p class='content'>{{googlemapid}}</p>

              <a href=''><div class="label">Car</div></a>
              <p class='content'>{{car}}</p>
              <a href=''><div class="label">Bus</div></a>
              <p class='content'>{{bus}}</p>
              <a href=''><div class="label">Train</div></a>
              <p class='content'>{{bus}}</p>
              <a href=''><div class="label">How to find the day surgery unit</div></a>
              <p class='content'>{{gettotheunit}}</p>
              <a href=''><div class="importantlink">Contact Details</div></a>
              <p class='content'>{{contactdetailspostop}}</p>

        </div>

    </div>
